@font-face {
    font-family: 'Rochester';
    src: url('../fonts/Rochester-Regular-webfont.eot');
    src: url('../fonts/Rochester-Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Rochester-Regular-webfont.woff') format('woff'),
         url('../fonts/Rochester-Regular-webfont.ttf') format('truetype'),
         url('../fonts/Rochester-Regular-webfont.svg#rochesterregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'Disco';
    src: url('../fonts/DISCO___-webfont.eot');
    src: url('../fonts/DISCO___-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/DISCO___-webfont.woff') format('woff'),
         url('../fonts/DISCO___-webfont.ttf') format('truetype'),
         url('../fonts/DISCO___-webfont.svg#discoregular') format('svg');
    font-weight: normal;
    font-style: normal;

}