/*==================================*/
/*           Variables              */
/*==================================*/

$red: #cc0000;
$dark_red: #990000;

$orange: #E08D26;
$dark_orange: #c97c1d;

$green: #008900;
$dark_green: #006600;

$border: 2px solid #000000;

$black_outline: thin dotted #000000;
$default_fonts: 'Helvetica', 'Arial', 'Sans-Serif';
